@import "@fontsource/monaspace-xenon/200.css";
@import "@fontsource/monaspace-xenon/300.css";
@import "@fontsource/monaspace-xenon/400.css";
@import "@fontsource/monaspace-xenon/500.css";
@import "@fontsource/monaspace-neon/400.css";

/* Override Monaspace font metrics to fix vertical alignment */
@font-face {
  font-family: 'Monaspace Xenon';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(@fontsource/monaspace-xenon/files/monaspace-xenon-latin-200-normal.woff2) format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
}

@font-face {
  font-family: 'Monaspace Xenon';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/monaspace-xenon/files/monaspace-xenon-latin-300-normal.woff2) format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
}

@font-face {
  font-family: 'Monaspace Xenon';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/monaspace-xenon/files/monaspace-xenon-latin-400-normal.woff2) format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
}

@font-face {
  font-family: 'Monaspace Xenon';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/monaspace-xenon/files/monaspace-xenon-latin-500-normal.woff2) format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
}

@font-face {
  font-family: 'Monaspace Neon';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/monaspace-neon/files/monaspace-neon-latin-400-normal.woff2) format('woff2');
  ascent-override: 85%;
  descent-override: 15%;
}

@tailwind base;

@tailwind components;
@tailwind utilities;
